{% extends "profile.html" %}

{% block content %}
<center>
	<p style="color: black;padding-left: 10%;font-size: 15px;"> The Products have been sucessfully bought! Will be delivered to the specified address! </p>
</center>
{% endblock %}