{% extends "profile.html" %}

{% block content %}
<style type="text/css">
	.checkout-holder{
		padding-top: 5%;
		width: 100%;
	}
</style>
<table class = "table">
	<thead>
		<tr>
			<th scope="col">Product Name</th>
			<th scope="col">Price</th>
			<th scope="col">number of items</th>
		</tr>
	</thead>
	<tbody>
		{% if shoppingcart %}
		{% for product in shoppingcart %}
		<tr>
			<th><a href={{ url_for("ProductPage",productid=product.Product_ID) }}>{{ product.Product_Name }}</a></th>
			<td>{{ product.Price }}$</td>
			<td>{{ product.quantity }}</td>
			<td><button type="button" onclick="window.location.href='{{ url_for('removeincart',productid=product.Product_ID) }}';"
				style="background-color: black;color: white;font-size: 10px;padding: 10px;border-radius: 25px;">Remove Item</button>
		</tr>
		{% endfor %}
		{% endif %}
	</tbody>
</table>
{% if shoppingcart %}
<div class="checkout-holder">
	<center>
	<button style="background-color: black;color: white;font-size: 15px;padding: 10px;border-radius: 10px;" 
	onclick="window.location.href='{{ url_for('checkout') }}';">Check Out</button>
	</center>
</div>
{% else %}
<center><p style="color: black;font-size: 20px;"> Shopping Cart is empty! </p></center>
{% endif %}

{% endblock %}