{% extends "profile.html" %}

{% block content %}
<style type="text/css">
	body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 20%;
}
button:hover {
  opacity: 0.8;
}
.loginpageboard{
	color: white;
	background-color: black;
	padding: 60px;
	font-size: 50px;
}

.container {
  padding: 16px;
  margin: 40px
}

span.psw {
  float: right;
  padding-top: 16px;
}
label,input{
		display: inline-block;
	}
label{
	width: 10%;
	text-align: left;
}
</style>
</style>
<form method="post">
	<center>
	  <div class="container">
	  	<p>Delivery Address</p>
	    <label for="ad1"><b>Address line 1 : </b></label>
	    <input type="text" placeholder="enter street address" name="ad1">
	    <br>
	    <label for="ad2">Address line 2 : </label>
	    <input type="text" placeholder="enter street address" name="ad2">
	    <br>
	    <label for="state">State : </label>
	    <input type="text" placeholder ="enter state" name="state">
	    <br>
	    <label for= "city">City : </label>
	    <input type= "text" name="city" placeholder="enter city">
	    <br>
	    <label for="zipcode">Zipcode : </label>
	    <input type="text" name="zipcode" placeholder="enter zipcode">
	    <br>
	    <button type="submit" style="background-color: black;color: white;">Buy</button>
	  </div>
  	</center>
</form>


{% endblock %}