{% extends "profile.html" %}

{% block content %}
<style type="text/css">
	img{
		max-width: 350px;
		max-height: 250px;
	}
	.prodcutnamecol{
		word-wrap: break-word;
		max-width: 150px;
		font-size: 18px;
	}
</style>
<table class = "table">
	<thead>
		<tr>
			<th scope="col">Product Name</th>
			<th scope="col">Product Image</th>
			<th scope="col">Offer price</th>
		</tr>
	</thead>
	<tbody>
		{% if productlisinfo %}
		{% for product in productlisinfo %}
		<tr>
			<th class="prodcutnamecol"><a href={{ url_for("ProductPage",productid=product[0]) }}>{{ product[1] }}</a></th>
			<td><img src="http://127.0.0.1:8000/productpics/{{ product[0] }}.jpg"></td>
			<td class="prodcutnamecol">
				<p>actual price : {{ product[2] }}$</p>
				<p>after offer : {{ product[3] }}$</p>
				<p>offer : {{ product[4] }}% </p>
			</td>
		</tr>
		{% endfor %}
		{% endif %}
	</tbody>
</table>

{% endblock %}