<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login Page</title>
	<link rel="stylesheet" type="text/css" href="/css/boostrap.min.css">
<style>
body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 20%;
}
button:hover {
  opacity: 0.8;
}
.loginpageboard{
	color: white;
	background-color: black;
	padding: 60px;
	font-size: 50px;
	font-family: Geneva;
}

.container {
  padding: 16px;
  margin: 40px
}

span.psw {
  float: right;
  padding-top: 16px;
}
label,input{
		display: inline-block;
	}
label{
	width: 10%;
	text-align: left;
}
</style>
</head>
<body>
	<div class = 'loginpageboard'>
		Welcome to Retail Store
	</div>
{% block content %}
	<form method="post">
			<center>
			  <div class="container">
			    <label for="uname"><b>Email</b></label>
			    <input type="text" placeholder="Enter Username" name="uname">
			    <br>
			    <label for="psw"><b>Password</b></label>
			    <input type="password" placeholder="Enter Password" name="psw">
			    <br>
			    <button type="submit" style="background-color: black">Login</button>
			  </div>
			  {% if message %}
			  	<p style="color: red;">{{ message }}</p>
			  {% endif %}
		  	</center>
	</form>
	<div class="container">
		<center>
			<button type="button" style="background-color: black" onclick="window.location.href='{{ url_for('Signup') }}';">Signup</button>
		</center>
	</div>
{% endblock %}
</body>
</html>