{% extends "profile.html" %}

{% block content %}
<table class = "table">
	<thead>
		<tr>
			<th scope="col">Date</th>
			<th scope="col">Product Name</th>
			<th scope="col">Unit Price</th>
			<th scope="col">Quantity</th>
			<th scope="col">Order ID</th>
			<th scope="col">Delivery Address</th>
		</tr>
	</thead>
	<tbody>
		{% if orderlist %}
		{% for order in orderlist %}
		<tr>
			<th scope="row">{{ order.Date }}</th>
			<td>{{ order.Product_Name }}</td>
			<td>{{ order.UnitPrice }}$</td>
			<td>{{ order.Quantity }}</td>
			<td>{{ order.Order_ID }}</td>
			<td>{{ order.Delivery_address }}</td>
	    </tr>
		{% endfor %}
		{% endif %}
	</tbody>
</table>

{% endblock %}