{% extends "profile.html" %}

{% block content %}
<table class = "table">
	<thead>
		<tr>
			<th scope="col">Category</th>
			<th scope="col">Product Name</th>
			<th scope="col">Price</th>
			<th scope="col">Available Stock</th>
		</tr>
	</thead>
	<tbody>
		{% if productlis %}
		{% for product in productlis %}
		<tr>
			<th scope="row">{{ product.cat_name }}</th>
			<td><a href={{ url_for("ProductPage",productid=product.product_id) }}>{{ product.product_name }}</a></td>
			<td>{{ product.price }}$</td>
			<td>{{ product.quantity }}</td>
		</tr>
		{% endfor %}
		{% endif %}
	</tbody>
</table>

{% endblock %}