{% extends "profile.html" %}

{% block content %}
<style>
	.pagediv{
		width: 50%;
		height: 100px;
		float: left;
	}
	.image-holder{
		padding: 10%;
	}
</style>
	<div class="pagediv">
		<center>
			<div class="image-holder">
				{% if productid %}
				<img src="http://127.0.0.1:8000/productpics/{{ productid }}.jpg">
				{% endif %}
			<div>
		</center>
	</div>
	<div class="pagediv">
		{% if productinfo %}
		<p style="font-size: 40px;"><b>{{ productinfo.Product_Name }}</b></p>
		<p><b>Cost : </b>{{ productinfo.Price }}$</p>
		<p><b>Available Stock :</b>{{ productinfo.Quantity }}</p>
		<p><b>Product Description:</b></p>
		<p>{{ productinfo.Product_Desc }}</p>
		<form method="post">
			<button type="submit" style="background-color: black;color: white;font-size: 15px;padding: 10px;border-radius: 15px;"
			 onclick="window.location.href='{{ url_for('ProductPage',productid=productinfo.productid) }}';"> Add To Cart </button>
			<br>
			<br>
			<label for="quan"><b> Quantity : </b></label>
			<input type="text" style="width: 10%" name="quan">
		</form>
		{% if message %}
			<p style="color: red;font-size: 15px">{{ message }}</p>
		{% endif %}
		{% endif %}
	</div>
{% endblock %}
