<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap 101 Template</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <style>
    .navbar-inverse{
        background-color: black;
    }
    .welcomeuser{
        padding-left: 50px;
        color: Black;
        font-size: 25px;
    }
    img{
    	padding: 5%;
    	width: 500px;
    	height: 500px;
    }
    .prev{
    	font-family: 
    }
    </style>
  </head>
  <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand"  href="#">Retail Store</a>
                </div>
                    <ul class="nav navbar-nav">
                        <li><a href={{ url_for("Profile") }}>Home</a></li>
                        <li><a href={{ url_for("Products") }}>Products</a></li>
                        <li><a href={{ url_for("Orders") }}>Orders</a></li>
                        <li><a href={{ url_for("Cart") }}>Shopping cart</a></li>
                        <li><a href={{ url_for("Flashsale") }}>Flash Sale</a></li>
                        <li><a href={{ url_for("logout") }}>logout</a></li>
                    </ul>
            </div>
        </nav>
        <div class = "welcomeuser">
            Welcome {% if User_Name %} {{ User_Name }} !
            {% endif %}
        </div>
        <hr>
        {% block content %}
        {% if plist %}
        <p style="font-family: Courier New;padding-left: 2%;font-size: 20px;"><b>Previously viewed products.....</b></p>
        	{% for productid in plist %}
        		<img src="http://127.0.0.1:8000/productpics/{{ productid }}.jpg" onclick="window.location.href='{{ url_for('ProductPage',productid=productid) }}';">
        	{% endfor %}
        {% endif %}
        {% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
