{% extends "login.html" %}

{% block content %}
<style type="text/css">
	label{
		width: 10%;
		text-align: left;
	}
	label,input{
		display: inline-block;
	}
	
</style>
<form method="post">
			<center>
			  <div class="container">
			    <label for="username"><b>User name</b></label>
			    <input type="text" placeholder="Enter Username" name="username">
			    <br>
			    <label for="email"><b>Email id</b></label>
			    <input type="text" placeholder="example@xyz.com" name="email">
			    <br>
			    <label for="password"><b>Password</b></label>
			    <input type="password" placeholder="Enter Password" name="password">
			    <br>
			    <label for="retypepassword"><b>Retype Password</b></label>
			    <input type="password" placeholder = "retype password" name="retypepassword">
			    <br>
			    <button type="submit" style="background-color: black">Login</button>
			  </div>
			  {% if message %}
			  	<p style="color: red;">{{ message }}</p>
			  {% endif %}
			  {% if messageok %}
			  	<p style="color: black;">{{ messageok }}</p>
			  {% endif %}
		  	</center>
</form>
{% endblock %}